<html>
  <head><title>admin Page</title></head>
  <body>
    <p><a href="/admin">홈으로</a></p>
    <form name = "location" action = "/admin/location/create" method= "post">
      <p>구역명 : <input type="text" name="name" ></p>
      <p>위도   : <input type="text" name="latitude" ></p>
      <p>경도   : <input type="text" name="longitude" ></p>
      <p>색상   : <input type="text" name="color" ><s/p>
      <p>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
      </p>
    </form>
  </body>
  </html>